body {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
}

/* Header */
.header {
  width: 100vw;
  border-bottom: solid 1px rgb(222, 222, 222);
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.btnSearch {
  width: 35vw;
}

.logo-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.all-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-singup,
.btn-login {
  border: solid 1px #007782;
  background-color: white;
  color: #007782;
  padding: 2px 10px;
  border-radius: 3px;
}

.btn-login-signup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.btnDeconnexion {
  border: none;
  background-color: #007782;
  color: white;
  padding: 2px 10px;
  border-radius: 3px;
}

.btnVend {
  border: none;
  color: white;
  background-color: #007782;
  padding: 4px 10px;
  border-radius: 3px;
}

/* menu principal */
.filters {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.filters-price-up-Down {
  display: flex;
  gap: 10px;
}

.filters-price-up-Down button {
  border: solid 1px #007782;
  background-color: white;
  color: #007782;
  padding: 0px 10px;
  border-radius: 3px;
}

.filters-price {
  display: flex;
  gap: 10px;
}

.filters-input {
  width: 50px;
  border: solid 1px #007782;
  padding: 2px 10px;
  border-radius: 3px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 10px 0px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.menu li {
  font-size: 14px;
}

/* banière du site vinted */
.banner {
  position: relative;
  display: flex;
  justify-content: center;
}

.encart {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 200px;
  border-radius: 5px;
  padding-left: 20px;
  position: absolute;
  top: 250px;
}

.encart p {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 30px;
}

.buttom-by {
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #007782;
  border: none;
  width: 85%;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.banner img {
  width: 100vw;
  height: 500px;
  object-fit: cover;
}

/* Titre Articles populaires */
.popular-title {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

/* Offres */
.all-offer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.all-offer img {
  width: 325px;
  height: 425px;
}

.text-details {
  /* border: solid 2px red; */
  background-color: white;
  width: 325px;
  height: 425px;
  padding: 20px;
  box-sizing: border-box;
}

.text-details p {
  font-size: 20px;
  margin-bottom: 20px;
}

.all-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.details {
  flex: 1;
  color: rgb(175, 175, 175);
  font-size: 12px;
}

.response-details {
  flex: 1;
  color: rgb(78, 77, 77);
  font-size: 12px;
  display: flex;
}

.avatar-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

.avatar-details p {
  font-weight: 700;
  font-size: 12px;
  margin-top: 40px;
}

.avatar-details img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.details-name {
  font-size: 12px;
  font-weight: 600;
  margin-top: 60px;
}

.details-description {
  color: rgb(78, 77, 77);

  font-size: 12px;
  margin: 10px 0px;
}

.buttom-acheter {
  color: white;
  background-color: #007782;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-top: 30px;
}

.all-offers {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 10px;
}

.offer {
  width: 201px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name-offer {
  color: gray;
  font-size: 13px;
  font-weight: 100;
}

.offer img {
  object-fit: cover;
}

/* page de l'offre détaillée */
.detail {
  height: 100vh;
  background-color: #eaedee;
}

.offer img {
  width: 200px;
  height: 300px;
}

.by {
  width: 200px;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
}

/* page signup */
.signup-page {
  background-color: lightgrey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  background-color: white;
  width: 375px;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form h2 {
  margin: 20px;
}

.signup-input {
  width: 85%;
  padding: 10px;
  border: none;
  border-bottom: solid 1px red;
  margin: 10px;
}

.check-newsletter {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.Conditions {
  width: 59%;
  font-size: 12px;
  line-height: 16px;
}

.inscription {
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #007782;
  border: none;
  width: 85%;
  border-radius: 5px;
  padding: 10px;
  margin: 40px 0px 5px 0px;
  cursor: pointer;
}

.ever-count p {
  color: #007782;
  font-size: 13px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* page login */
.login-page {
  background-color: lightgrey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: white;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h2 {
  margin: 20px;
}

/* page publish */

.sell-your-item {
  padding: 20px 0px 10px 0px;
}

.files {
  background-color: white;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.publish {
  background-color: white;
  border-radius: 3px;
  border: solid 1px rgb(223, 223, 223);
  box-shadow: rgb(223, 223, 223) 0px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin-bottom: 15px;
}

.input {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(225, 225, 225);
  padding: 20px;
  font-size: 13px;
}

.input-publish {
  width: 50vw;
  border: none;
  border-bottom: solid 1px rgb(225, 225, 225);
}

.clic-change {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  gap: 5px;
}

.clic-change p {
  font-size: 14px;
}

.go {
  border: none;
  color: white;
  background-color: #007782;
  border-radius: 5px;
  width: 25vw;
  padding: 15px;
  cursor: pointer;
}

.center-buttom {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.picture-file {
  height: 100px;
}

.div-add-picture {
  border: solid 4px #007782;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-picture {
  cursor: pointer;
  color: #007782;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-picture span {
  font-size: 30px;
}

.payment {
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* page payment */
.container-payment {
  height: 100vh;
  background-color: rgb(235, 235, 235);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-payment {
  border: solid black 1px;
  background-color: white;
  width: 550px;
  justify-content: space-between;
  padding: 20px;
}

.text-resume {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgb(175, 175, 175);
  margin-top: 10px;
}

.total-resume {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-top: solid 1px lightgray;
  padding-top: 50px;
}

.total-resume p {
  font-weight: 600;
}

.title-resume-pay {
  font-size: 14px;
  color: lightgrey;
  margin-bottom: 30px;
}

.total-text {
  justify-content: space-between;
  font-size: 14px;
  margin-top: 60px;
}

.total-text span {
  font-weight: 600;
}

.card {
  border: solid 1px lightgray;
  margin: 60px 0px 30px 0px;
  padding: 15px;
  border-radius: 4px;
}

.buttom-pay {
  color: white;
  background-color: #00c06d;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

/* Media Queries */
@media (min-width: 200px) and (max-width: 768px) {
  .btn-login-signup {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .top-menu {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .logo-search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  .btnSearch {
    width: 100%;
    margin-right: 50px;
  }

  .all-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .filters {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
  }

  .encart {
    width: 215px;
    height: 130px;
    border-radius: 5px;
    padding-left: 15px;
    position: absolute;
    top: 450px;
    left: 0px;
  }

  .encart p {
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 10px;
  }

  .buttom-by {
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: #007782;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }

  .container-payment {
    height: 125vh;
  }

  .all-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
  }

  .avatar-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .avatar-details p {
    margin-top: 10px;
  }

  .buttom-acheter {
    margin-top: 0px;
  }

  .text-details {
    height: 440px;
  }

  .total-payment {
    width: 85vw;
    padding: 10px;
  }
}
